{% extends "base.html"%}

{% block title %}
タスク一覧
{% endblock %}

{% block content %}
<div class="container w-50 mx-auto my-5 text-center">
    <h2 class="my-5">タスク一覧</h2>
    <div class="container w-50 mx-auto p-5 ">
        <ul>
            {% for object in object_list %}
            <li class="list-unstyled"><a href="{% url 'app:detail' object.pk %}" class="">
                    {{object.get_status_display}}:
                    {{object.title}}
                </a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
