{% extends "base.html"%}

{% block title %}
タスク一覧
{% endblock %}

{% block content %}
<h2 class="text-center my-5">タスク詳細</h2>
    <div class="container w-50 mx-auto my-5 p-5 border">
        <div class="row my-3">
            <h3 class="text-center">{{object.title}}</h3>
        </div>
        <div class="row my-3">
            <div class="col-6">ステータス: {{object.get_status_display}}</div>
            <div class="col-6">期限: {{object.deadline}}</div>
        </div>
        <div class="row my-3">
            詳細:<br>
            {{object.description}}
        </div>
        <div class="text-end">
            <a href="{% url 'app:update' object.pk %}" class="btn btn-primary">編集</a>
            <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal-{{object.pk}}" class="btn btn-danger">削除</button>
        </div>
    </div>

    {% include 'snippets/confirm_modal.html' %}

{% endblock %}
